.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:280px;
    margin-top: 35px;
  }
  
  .card__button_group{
    background: #F3F3F3;
    padding: 7px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .buttons__row{
    display: flex;
    grid-gap: 5px;
  }
  
  .buttons__size{
    margin-top: 5px;
  }

  ._active{
    background: white !important;
    cursor: auto !important;
  }
  ._disable{
    opacity: .2;
    cursor: auto !important;
  }
  
  .card__button_buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
.buttonBuy{
  .plus__icon{
    fill: #ffffff;
    margin-right: 7px;
  }

  .plus__icon_count{
    fill: #FE5F1E;
    margin-right: 7px;
  }

  .count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid #FE5F1E;
    border-radius: 50%;
    margin-left: 10px;
    > p {
      margin-right: 3px;
      margin-top: .5px;
    }
  }
  &:hover{
    .plus__icon_count{
      fill: white !important;
    }
    .count {
      border: 1px solid #ffffff;
    }
  }
}

  


  